<a href="https://colab.research.google.com/github/anusha20219/python-workshop-/blob/master/Day_3_exercise_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write a Python program to find numbers between 100 and 400 (both included) which are divisable both by 5 or 7. The numbers obtained should be printed in a comma-separated sequence

In [2]:
items = []
for i in range(100, 401):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        items.append(s)
print( ",".join(items))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

# Write a Python program to find  prime numbers between 200 and 600 (both included). The numbers obtained should be printed in a comma-separated sequence

In [ ]:
for num in range(200, 600):
    for i in range(2, num):
        if num % i == 0:
            break
        else:
            print(num)
            break

201
203
205
207
209
211
213
215
217
219
221
223
225
227
229
231
233
235
237
239
241
243
245
247
249
251
253
255
257
259
261
263
265
267
269
271
273
275
277
279
281
283
285
287
289
291
293
295
297
299
301
303
305
307
309
311
313
315
317
319
321
323
325
327
329
331
333
335
337
339
341
343
345
347
349
351
353
355
357
359
361
363
365
367
369
371
373
375
377
379
381
383
385
387
389
391
393
395
397
399
401
403
405
407
409
411
413
415
417
419
421
423
425
427
429
431
433
435
437
439
441
443
445
447
449
451
453
455
457
459
461
463
465
467
469
471
473
475
477
479
481
483
485
487
489
491
493
495
497
499
501
503
505
507
509
511
513
515
517
519
521
523
525
527
529
531
533
535
537
539
541
543
545
547
549
551
553
555
557
559
561
563
565
567
569
571
573
575
577
579
581
583
585
587
589
591
593
595
597
599

# Write a Python program to find All Numbers which are Odd and Palindromes Between a Range of Numbers without using Recursion. The numbers obtained should be printed in a comma-separated sequence

In [ ]:
a=[]
l=int(input("Enter lower limit: "))
u=int(input("Enter upper limit: "))
a=[x for x in range(l,u+1) if x%2!=0 and str(x)==str(x)[::-1]]
print("The numbers are: ",a)

Enter lower limit: 200
Enter upper limit: 600
The numbers are:  [303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595]

# Write a Python Program to read a number n and print the series “5+10+…..+n = sum upto n ” . The numbers should be printed  as they are  shown in the quotes with sum of numbers upto n

In [ ]:
num = int(input("Enter the value of n: "))
hold = num
sum = 0
 
if num <= 0: 
   print("Enter a whole positive number!") 
else: 
   while num > 0:
        sum = sum + num
        num = num - 1;
    # displaying output
    print("Sum of first", hold, "natural numbers is: ", sum)

# Write a Python Program to Print Multiplication Table of a  number which got through keyboard.

In [ ]:
num = 12
 
# To take input from the user
# num = int(input("Display multiplication table of? "))
 
# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

# Write a  Python Program to find the Armstrong Numbers between 1 and 2000 ( i.e 153 is amtrong numbers as 1**3+5**3+3**3=153 )

In [ ]:
lower = 100
upper = 2000
 
for num in range(lower, upper + 1):
 
   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0
 
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10
 
   if num == sum:
       print(num)

153
370
371
407
1634

# Write a python program to get the list of tuples (rollno, name) for n students by getting rollno and name through keyboard. Sort and print  them as rollno wise and name wise both ascending and descending as well as alphabetical and dealphabetical orders

In [ ]:
a=[]
def inp():
  rolno=input("enter the rolno")
  name=input("enter the name")
  return(rolno,name)
n=int(input("Enter the value of n"))
for i in range(1,n+1):
  a.append(inp())
print(a)
a.sort(key=lambda i:i[0])
print(f'According to Rollno:Ascending order:{a}')
print(f'According to Rollno:Descending order:{a[::-1]}')
a.sort(key=lambda i:i[1])
print(f'According to Name:Alphabeticallyorder:{a}')
print(f'According to Name:Dealphabetically order:{a[::-1]}')

Enter the value of n2
enter the rolno5
enter the nameA
enter the rolno2
enter the nameB
[('5', 'A'), ('2', 'B')]
According to Rollno:Ascending order:[('2', 'B'), ('5', 'A')]
According to Rollno:Descending order:[('5', 'A'), ('2', 'B')]
According to Name:Alphabeticallyorder:[('5', 'A'), ('2', 'B')]
According to Name:Dealphabetically order:[('2', 'B'), ('5', 'A')]

# Python Program to Detect if Two Strings are Anagrams ( They are  the two strings which have same length and same words which may be different in their order)

In [ ]:
def check(s1, s2): 
 
      
 
    # the sorted strings are checked  
 
    if(sorted(s1)== sorted(s2)): 
 
        print("The strings are anagrams.")  
 
    else: 
 
        print("The strings aren't anagrams.")          
 
          
# driver code   
 
s1 ="listen"
 
s2 ="silent" 
check(s1, s2)

The strings are anagrams.